@charset "UTF-8";
/* 版心 */
.w {
  width: 75rem;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* 浮动 */
.fl {
  float: left; }

.fr {
  float: right; }

/* 清除浮动 */
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  *zoom: 1; }

/* 分成120等分 */
html {
  font-size: 16px; }

@media screen and (min-width: 800px) {
  html {
    font-size: 6.66666666666667px; } }

@media screen and (min-width: 1024px) {
  html {
    font-size: 8.53333333333333px; } }

@media screen and (min-width: 1152px) {
  html {
    font-size: 9.58333333333333px; } }

@media screen and (min-width: 1280px) {
  html {
    font-size: 10.6666666666667px; } }

@media screen and (min-width: 1366px) {
  html {
    font-size: 11.38333333333333px; } }

@media screen and (min-width: 1440px) {
  html {
    font-size: 12px; } }

@media screen and (min-width: 1600px) {
  html {
    font-size: 13.3333333333px; } }

@media screen and (min-width: 1680px) {
  html {
    font-size: 14px; } }

@media screen and (min-width: 1920px) {
  html {
    font-size: 16px; } }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Noto Sans SC"; }

p {
  margin: 0; }

ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

.container {
  min-width: 75rem; }

.nav-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.75rem;
  background: #FFFFFF;
  z-index: 999;
  /* background-color: pink; */
  -webkit-box-shadow: 0px 1px 7px 0px rgba(199, 199, 199, 0.66);
          box-shadow: 0px 1px 7px 0px rgba(199, 199, 199, 0.66); }

.nav-container .logo {
  float: left;
  margin-left: 0.95rem;
  margin-top: .5rem;
  width: 8.8125rem;
  height: 3rem; }
  .nav-container .logo img {
    width: 100%;
    height: 100%; }

.nav-container .nav {
  float: left;
  margin-left: 10.375rem; }

.nav-container .nav ul {
  list-style: none;
  margin: 1.55rem 0 0 0;
  padding: 0; }

.nav-container .nav ul li {
  position: relative;
  float: left;
  margin-right: 2.5rem; }

.nav-container .nav ul li:last-child {
  margin-right: 0; }

.nav-container .nav ul li a {
  display: block;
  width: 100%;
  /* height: 100%; */
  font-size: 1rem;
  font-family: "Noto Sans SC","SourceHanSansCN-Bold", "Source Han Sans CN", "Microsoft YaHei", "微软雅黑";
  font-weight: 700;
  color: #333333; }

/* .nav-container .nav ul li:hover::after {
    position: absolute;
    bottom: -0.5125rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
    width: 110%;
    height: .25rem;
    border-radius: .125rem;
    background-color: #E8341E;
} */
.nav-active {
  position: relative; }

.nav-active::after {
  position: absolute;
  bottom: -0.5125rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: '';
  width: 110%;
  height: .25rem;
  -webkit-border-radius: .125rem;
          border-radius: .125rem;
  background-color: #E8341E; }

/* 登陆注册 */
.nav-container .loging {
  float: right;
  margin: 1.25rem 0 0 0; }

.nav-container .loging div {
  float: left;
  width: 3.5rem;
  height: 1.625rem;
  text-align: center;
  line-height: 1.625rem;
  background: url("../images/login-bg.png") no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.nav-container .loging div a {
  display: block;
  width: 100%;
  height: 1.625rem;
  font-size: 1rem;
  font-family: "Noto Sans SC",'Source Han Sans CN', "Microsoft YaHei", "微软雅黑";
  font-weight: 400;
  color: #E8341E;
  line-height: 1.625rem; }

.nav-container .loging div:nth-child(2) {
  margin-left: 1.25rem;
  margin-right: 2.5625rem; }

/* 头像部分 */
.nav-container .user-icon-box {
  position: relative;
  float: right;
  text-align: center;
  height: 3rem;
  margin-top: 1.05rem;
  padding-left: 1.25rem;
  /* margin-right: 2.5625rem; */
  cursor: pointer;
  /* background-color: pink; */ }

.nav-container .user-icon-box .user-icon {
  width: 2rem;
  height: 2rem;
  vertical-align: bottom;
  border: 1px solid #ccc;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.nav-container .user-icon-box .phone {
  height: 23px;
  display: inline-block; }

/* 登陆退出 */
.login-out {
  display: none;
  position: absolute;
  width: 5.625rem;
  bottom: -38px;
  left: -0.425rem;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: .125rem;
          border-radius: .125rem; }

.login-out::after {
  content: '';
  display: block;
  position: absolute;
  top: -1.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-top: .625rem solid transparent;
  border-right: .625rem solid transparent;
  border-bottom: .625rem solid #333;
  border-left: .625rem solid transparent; }

.login-out ul li {
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: #333; }

.login-out ul li a {
  font-size: .875rem;
  font-family: "Noto Sans SC", "PingFang SC", "Microsoft YaHei", "微软雅黑";
  font-weight: 500;
  color: #fff; }

.login-out ul li:hover {
  background-color: #FE0B0C; }

.nav-container .user-icon-box:hover .login-out {
  display: block; }

/* 头部部分 */
.header-box {
  height: 28.625rem;
  background: url("../images/caseBanner.png") no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-position: center center;
  margin-top: 5rem; }

/* 面包屑 */
.crumbs {
  background-color: #FAFAFA;
  height: 4.5rem;
  line-height: 4.5rem; }

.crumbs-box {
  font-size: 1rem;
  font-family: "Noto Sans SC";
  font-weight: 400;
  color: #999999; }

.crumbs-box span a {
  color: #999999; }

.crumbs-box span a:hover {
  color: #F95238; }

/* banner */
.banner {
  height: 17.5rem;
  background: #f5f5f5;
  margin-top: 3.75rem;
  background: url("../images/customerBanner.png") no-repeat; }

/**/
.main_content {
  width: 100%; }

.content_middle {
  width: 75rem;
  margin: 0 auto; }

.bg_bread {
  background: #F5F9FF; }

.bread_title {
  height: 3.125rem;
  line-height: 3.125rem;
  font-size: 1rem;
  font-family: "Noto Sans SC";
  font-weight: 400;
  color: #999999; }

.bread_title a:hover {
  cursor: pointer;
  color: #F95238; }

.pic_total {
  width: 75rem;
  /* height: 1780px; */
  background: white;
  padding-top: 2.625rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.pic_title {
  font-size: 1.875rem;
  font-family: "Noto Sans SC";
  font-weight: 400;
  color: #19263c; }

.time {
  margin: 1.1875rem 0 1.8125rem 0;
  font-size: .75rem;
  font-family: "Noto Sans SC";
  font-weight: 400;
  color: #999999; }

.line {
  width: 100%;
  height: 1px;
  background: #ccc;
  margin-top: 2.125rem; }

.wenzi {
  font-size: .875rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 1.875rem .5rem 10.5rem .5rem;
  color: #333333;
  /* border-bottom: 1px solid #ccc;  */
}

.tuwen img:nth-of-type(1) {
  display: inline-block;
  width: 40rem;
  height: 30rem;
  margin: .625rem 0 .625rem 11.8125rem; }

.tuwen img:nth-of-type(2) {
  display: inline-block;
  width: 40rem;
  height: 26.625rem;
  margin: .625rem 0 .625rem 11.8125rem; }

/* 底部 */
.fotter-box {
  /* border-radius: 3.125rem 3.125rem 0px 0px; */
  background-color: #272939;
  padding-bottom: 2.375rem; }

.parter_catefories {
  padding-top: 5rem;
  overflow: hidden;
  font-size: .6875rem;
  font-family: "Noto Sans SC","Source Han Sans CN", "Microsoft YaHei", "微软雅黑";
  font-weight: 300;
  color: gainsboro; }

.parter_catefories > dl {
  float: left; }

.parter_catefories > dl:nth-of-type(2) {
  margin: 0 8.125rem 0 9.375rem; }

.parter_catefories > dl:nth-of-type(3) {
  margin-right: 8.375rem; }

.parter_catefories > dl:nth-of-type(5) {
  float: right; }

.parter_catefories dl dt {
  margin-bottom: 3.3125rem; }

.parter_catefories dl dd {
  margin-top: 1.8125rem; }

.parter_catefories dl dt > a {
  font-size: 1.125rem;
  font-family: "Noto Sans SC", "Source Han Sans CN", "Microsoft YaHei", "微软雅黑";
  font-weight: 700;
  color: #FFFFFF; }

.parter_catefories dl dd > a {
  font-size: 1.125rem;
  font-family: "Noto Sans SC", "Source Han Sans CN", "Microsoft YaHei", "微软雅黑";
  font-weight: 400;
  color: #DCDCDC; }

.concat_icon {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
       justify-content: flex-end;
  text-align: right;
  margin-top: 1.75rem;
  margin-right: 4.875rem; }

.concat_icon div {
  display: inline-block;
  width: 1.5rem;
  border: 1px solid #ccc;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 2.375rem;
  height: 2.375rem;
  text-align: center;
  margin-left: 1.5rem;
  padding: .5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.concat_icon img {
  width: 100%; }

.concat_icon div:nth-of-type(2) {
  background-color: #67CE0B; }

.partener_total {
  position: relative; }

.fotter-line {
  margin-top: 3.5625rem;
  height: 1px;
  background: #7a7a7a; }

.fotter div:nth-child(4) {
  margin-top: 1.1875rem;
  text-align: center;
  font-size: .875rem;
  font-family: "Noto Sans SC";
  font-weight: 400;
  color: #c3c3c3; }

/* 上下篇 */
.piece {
  padding: 3.125rem 0 5.8125rem 0; }
  .piece p span {
    font-size: .875rem;
    color: #333; }
  .piece p a {
    font-size: .875rem;
    color: #666; }

/* 弹出框 */
.pop-up-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999; }

.pop-up-box .form {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 37.5rem;
  height: 35.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.form-titile {
  height: 7.5rem;
  background: url("../images/tanchuang2x.png") no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.turnoff {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  background: url("../images/guanbi2x.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  cursor: pointer; }

.form-titile p {
  font-size: 1.875rem;
  font-family: "Noto Sans SC";
  font-weight: 400;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }

.form-content {
  background: #f5f7fe;
  -webkit-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
  height: 28.125rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.form-content div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.875rem; }
  .form-content div:first-child {
    margin-top: 6rem; }
  .form-content div span {
    white-space: normal; }

.form-content div:nth-child(3) {
  margin-bottom: 3.625rem; }

.form-content div .title {
  width: 6.25rem;
  height: 2.5rem;
  font-size: 1.125rem;
  font-family: "Noto Sans SC",  "Microsoft YaHei";
  font-weight: 400;
  color: black;
  line-height: 2.875rem; }

.form-content div input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 20rem;
  padding-left: 1.875rem;
  height: 2.5rem;
  outline: none;
  background: white;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.form-content .form-btn {
  width: 20rem;
  height: 3.5rem;
  margin: 0 auto;
  background: -webkit-gradient(linear, left bottom, left top, from(#fa5339), to(#e83b27));
  background: -webkit-linear-gradient(bottom, #fa5339, #e83b27);
  background: -o-linear-gradient(bottom, #fa5339, #e83b27);
  background: linear-gradient(0deg, #fa5339, #e83b27);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1.5rem;
  font-family: "Noto Sans SC", "Source Han Sans CN", "Microsoft YaHei",
 "微软雅黑";
  font-weight: 400;
  /* text-align: center; */
  color: white;
  /* line-height: 3.75rem;
      padding-left: 7.375rem; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }

.form-content .activePop {
  background: -webkit-gradient(linear, left bottom, left top, from(#e44c34), to(#d43623)) !important;
  background: -webkit-linear-gradient(bottom, #e44c34, #d43623) !important;
  background: -o-linear-gradient(bottom, #e44c34, #d43623) !important;
  background: linear-gradient(0deg, #e44c34, #d43623) !important; }

#contactName,
#contactMobile,
#companyName {
  font-size: 1.125rem; }

.mask-box {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 16.25rem;
  height: 10rem;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 0.75rem;
  border-radius: 0.75rem;
  display: none; }

.mask-box span {
  display: block;
  width: 2.625rem;
  height: 2.625rem;
  background: url("../images/success2x.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  margin: 1.125rem auto; }

.mask-box .mask-box-title {
  text-align: center;
  font-size: 1.125rem;
  font-family: "Noto Sans SC";
  font-weight: bold;
  color: white;
  margin: 0 0 1.25rem 0; }

.mask-box .mask-box-content {
  text-align: center;
  font-size: 0.875rem;
  font-family: "Noto Sans SC";
  font-weight: 400;
  color: white; }

/* consultation资讯 */
.consultation {
  position: fixed;
  right: 0;
  bottom: 2.5rem; }

.consultation > div:nth-child(1),
.consultation > div:nth-child(2) {
  position: relative;
  width: 5rem;
  height: 11.25rem; }

.consultation > div:nth-child(1) {
  background: #f95238;
  margin-bottom: 10px; }

.consultation > div:nth-child(2) {
  background: #272939; }

.consultation > div .consultation-title,
.consultation > div .consultation-title2 {
  /* line-height: 5rem; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background:linear-gradient(0deg,rgba(232,59,39,1),rgba(250,83,57,1));
  width: 5rem;
  height: 11.25rem;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  font-size: 1.5rem;
  font-family: "Noto Sans SC";
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.consultation > div .consultation-title2 {
  background: #272939; }

.consultation > div > .consultation-item,
.consultation > div > .consultation-item2 {
  position: absolute;
  right: -12.5rem;
  top: 0;
  width: 12.5rem;
  height: 11.25rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.consultation > div > .consultation-item {
  padding-top: 2.2rem;
  background-color: #f95238; }

.consultation > div > .consultation-item ul {
  background-color: #f95238; }

.consultation .consultation-item ul {
  height: 100%; }

.consultation .consultation-item ul li {
  float: left;
  width: 3.375rem;
  height: 1.6875rem;
  line-height: 1.6875rem;
  margin-left: 2rem;
  margin-bottom: 0.875rem;
  border-bottom: 1px solid #fff; }

.consultation .consultation-item ul li a {
  font-size: 1.125rem;
  font-family: "Noto Sans SC";
  font-weight: 400;
  color: #fff; }

.consultation > div > .consultation-item2 {
  padding: 0 8px;
  background-color: #000; }

.consultation > div > .consultation-item2 div {
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.consultation > div > .consultation-item2 div:nth-child(2) {
  padding: 0.875rem 0 0 1.875rem; }

.consultation > div > .consultation-item2 div:nth-child(1) {
  padding: 1.675rem 0 0 1.875rem;
  border-bottom: 1px solid #fff; }

.consultation > div > .consultation-item2 div p:nth-child(1) {
  font-size: 1rem;
  font-family: "Noto Sans SC";
  font-weight: 400;
  color: white;
  margin-bottom: 0.875rem; }

.consultation > div > .consultation-item2 div p:nth-child(2) {
  font-size: 1.125rem;
  font-family: "Noto Sans SC";
  font-weight: 400;
  color: white;
  margin-bottom: 0.875rem; }

.consultation > div:hover .consultation-item,
.consultation > div:hover .consultation-item2 {
  right: 5.3125rem; }

.consultation-item2 {
  background: url("../images/consultation.png") no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.order {
  background: url("../images/appointment.png") no-repeat; }

/* 返回顶部 */
.consultation > div:nth-child(3).goTop {
  width: 5rem;
  height: 4.5625rem;
  text-align: center;
  z-index: 999;
  background-color: #272939;
  padding-top: 0.625rem;
  display: none;
  cursor: pointer;
  margin-top: 0.625rem;
  padding-top: 0.625rem; }

.goTop div:nth-child(1) {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  margin-bottom: 0.375rem; }

.goTop div:nth-child(1) img {
  width: 100%; }

.goTop div:nth-child(2) {
  font-size: 1.125rem;
  font-family: "Noto Sans SC";
  font-weight: 500;
  color: white; }