<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit" />
  <meta name="force-rendering" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <script>/*@cc_on document.write('\x3Cscript id="_iealwn_js" src="https://support.dmeng.net/ie-alert-warning/latest.js">\x3C/script>'); @*/</script>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{$title}</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" href="__HOME__/css/base.css">
  <link rel="stylesheet" href="__HOME__/css/customer.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900">
  <link rel="stylesheet" href="__HOME__/css/footer.css">
  <link rel="stylesheet" href="__HOME__/css/news.css">
  <meta name="keyword" content="企业节税案例,个人合规避税,节税案例,避税案例,税务筹划案例,财税规划案例,惠优税">
  <meta name="description" content="惠优税已服务全国各地众多行业,设计并落地实施众多企业合法节税案例,公司合理避税案例,个人节税案例,企业合法避税案例,税务筹划案例,税收策划案例,纳税筹划案例,财税规划案例等众多行业优化税收案例。">
  <!--    <script src="__SPI__/js/clamp.js"></script>-->
  <script src="__PUBLIC__/assets/plugins/layui/layui.all.js"></script>
  <script src='__PUBLIC__/common/js/common.js'></script>
  <script src='__PUBLIC__/common/js/index.js'></script>
  <script src='__PUBLIC__/common/js/public.js'></script>
  <script src='__HOME__/js/industry.js'></script>
  <script src="__PUBLIC__/common/js/open.js"></script>
  <script src='__HOME__/js/lazysizes.min.js' async='async'></script>
  <script>
      var _hmt = _hmt || [];
      (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?59bb232bf1ab5a4ee5ca776143a9d145";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
      })();
  </script>
</head>

<body>

  <div class='container'>

    <!-- 头部导航 -->
    <div id="header" data-pageId="3">
      {include file='common/header' /}
    </div>

    <!-- banner -->
    <div class='header-box'></div>


    <!-- 面包屑 -->
    <div class="crumbs">
      <div class="crumbs-box w">
        <b><a href="{:url('/home/index/index')}">惠优税></a></b>
        <b> 客户案例</b>
      </div>
    </div>

    <!-- 客户案例 -->
    <div class="bg_tab">
      <div class="tabBox w">
        <div>
          客户案例
        </div>
        <ul class="clearfix">
          {volist name='list' id='vo'}
          <li>
            <a href="{:url('/home/customer/info',['mid'=>$vo.id])}">
              <div class="item-img">
                <img class="lazyload" data-src="{$vo.imgs?$vo.imgs:''}" alt="">
              </div>
              <div class="item-content">
                <p>
                  {$vo.title}
                </p>
                <p class="limit">{:mb_substr($vo.description,'0','300','utf-8')}</p>
              </div>
              <div class="item-comtent-more">查看详情</div>
            </a>
          </li>
          {/volist}
        </ul>
      </div>
    </div>
  </div>

  <!-- 分页 -->
  <div class="pageNation">
    {$list->render();}
  </div>


  <!-- 返回顶部 -->
  <!-- <div class='goTop' id="goTop">
    <i></i>
    <div>返回顶部</div>
  </div> -->
  <!-- 弹框 -->
  <div class="pop-up-box" id="popbox">
    <div class="form">
      <div class="form-titile">
        <p>方案咨询</p>
        <span class="turnoff" onclick="hide_open()"></span>
      </div>
      <div class="form-content">
        <div><span class="title">您的姓名</span><input type="text" id="contactName" placeholder="请输您的姓名"></div>
        <div><span class="title">联系方式</span><input type="text" id="contactMobile" placeholder="请输入您的手机号"></div>
        <div><span class="title">公司名称</span><input type="text" id="companyName" placeholder="若无公司请填写自雇"></div>
        <input type='hidden' id='sources' value='惠优税'>
        <input type='hidden' id='identifications' value='企业税筹'>
        <div class="form-btn" onclick="form_btn()">获取方案</div>
      </div>
      <!-- 提交成果后弹窗 -->
      <div class="mask-box">
        <span></span>
        <p class="mask-box-title">提交成功</p>
        <p class="mask-box-content">我们会在一个工作日内联系您</p>
      </div>
    </div>

  </div>



  <!-- 底部 -->
 {include file='common/footer'/}

  <!-- 侧边栏consultation资讯 -->
  <div class="consultation">
    <div>
      <div class="consultation-title" onclick="alert_open('惠优税客户案例','右导航')">咨询方案</div>
    </div>
    <div>
      <div class="consultation-title2">联系我们</div>
      <div class="consultation-item2">
        <div>
          <p>专家服务电话</p>
          <p>181-8619-4461</p>
        </div>
        <div>
          <p>获取税筹方案</p>
          <p>400-150-9898</p>
        </div>
      </div>
    </div>
    <!-- 返回顶部 -->
    <div class='goTop' id="goTop">
      <div><img class="lazyload" data-src="__HOME__/images/top@2x.png" alt=""></div>
      <div>顶部</div>
    </div>
  </div>


  <script>
    $(function () {
      // $('.nav ul li').on('click', function () {
      //   $(this).addClass('nav-active chosenPage').siblings().removeClass('nav-active chosenPage')
      // })
      // $('.nav ul li').on('mouseenter', function () {
      //   $(this).addClass('nav-active').siblings().removeClass('nav-active')
      // })
      // $('.nav').on('mouseleave', function () {
      //   $('.nav ul li').removeClass('nav-active')
      //   if ($('.chosenPage').length < 1) $('.nav ul li').eq(3).addClass('chosenPage')
      //   $('.chosenPage').addClass('nav-active')
      // })

      $('.limit').each(function () {
        if ($(this).text().length > 62) {
          $(this).text($(this).text().slice(0, 63) + '...');
        }
      })
    })
  </script>
</body>
</html>