<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <script>/*@cc_on document.write('\x3Cscript id="_iealwn_js" src="https://support.dmeng.net/ie-alert-warning/latest.js">\x3C/script>'); @*/</script>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{$title}</title>
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="__HOME__/css/base.css">
    <link rel="stylesheet" href="__HOME__/css/news.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900">
    <link rel="stylesheet" href="__HOME__/css/footer.css">
    <meta name="keyword" content="财税行业资讯,节税资讯,税务筹划资讯,财税行业新闻,节税新闻,税务筹划新闻,惠优税">
    <meta name="description" content="惠优税新闻资讯是包含海量财税行业资讯的新闻服务平台,反映各行各业的财税新闻热点,热门财税话题、财税人物动态、财税产品资讯等,快速了解财税行业的最新进展。">
    <script src="__PUBLIC__/assets/plugins/layui/layui.all.js"></script>
    <script src='__PUBLIC__/common/js/common.js'></script>
    <script src='__PUBLIC__/common/js/index.js'></script>
    <script src='__PUBLIC__/common/js/public.js'></script>
    <script src='__HOME__/js/industry.js'></script>
    <script src="__PUBLIC__/common/js/open.js"></script>
    <script src='__HOME__/js/lazysizes.min.js' async='async'></script>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?59bb232bf1ab5a4ee5ca776143a9d145";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>

    <div class='container'>
        <!-- 头部导航 -->
        <div id="header" data-pageId="4">
            {include file='common/header' /}
        </div>
    </div>



    <!-- <div class="bg_banner">
        <div class="banner">

            <img src="{$banner.imgs}" alt="">
        </div>
    </div> -->

    <!-- 头部 -->
    <div class='header-box'></div>


    <!-- 面包屑导航 -->
    <div class="bg_breadCrumbs">
        <div class="w bread-crumbs">
            <span><a href="{:url('/home/index/index')}">首页</a></span> >
            <span><a class="current" style="color:#E8341E;" onclick="go_news(this)"
                    data-url="{:url('/home/industry/index')}">新闻资讯</a></span> <span></span>
        </div>
    </div>

    <!-- 信息列表 -->
    <div class="content-box">
        <div class="w content">

            <div class="information-list">
                <div class="tabs clearfix">
                    <!-- <ul class="clearfix fl">
                      <li class="li-active">招商政策</li>
                      <li>招标信息</li>
                    </ul> -->
                    <div class="govPolicy fl">新闻资讯</div>

                </div>

                <!-- 热搜 -->
                <div class="hotWord">
                    <div class="bgHot">
                        <span>热门关键词</span>
                        <ul>
                            {volist name='keywords' id='vo'}
                            <li onclick="hotsearch(this);" data-title="{$vo.title}"
                                data-url="{:url('/home/industry/newsapi')}" data-href="{:url('/home/industry/infos')}">
                                <span>{$vo.title}</span>
                                <span class="close" onclick="nullhot(this);"
                                      data-title="{$vo.title}"   data-url="{:url('/home/industry/newsapi')}">✕</span>
                            </li>
                            {/volist}
                        </ul>
                    </div>

                    <div class="search-box">
                        <input type="text" id="keyword" value="{$Think.get.keyword}" placeholder="请输入关键字">
                        <div id="searched" style="cursor:pointer;" data-url="{:url('/home/industry/index')}">搜索</div>
                    </div>

                </div>

                <div class="bg_divide">

                    <div class="divide"></div>
                </div>


                <div class="tabs-items show">
                    <ul id="shang">
                        {empty name='list'}
                        <li>
                            <div class="tabs-items-content">
                                <div class="tabs-items-content-text figcaption">
                                    <p>抱歉，没有找到与<b style="color: #ff2222">{$Think.get.keyword}</b>的相关结果。</p>
                                </div>
                            </div>
                        </li>
                        {else /}
                        {volist name='list' id='lo'}
                        <li>
                            <a href="javascript:;" data-url="{:url('/home/industry/infos',['mid' =>$lo.id])}"
                                login_url="{$baseurl}"
                                loca_url="{:config('curl.website')}/home/index/getInfo?mid={$lo.id}"
                                mobile-phone="{$userinfo['mobile']}" data-id="{$lo.id}"
                                onclick="home_module.show_detail(this)">
                                <div class="infoItem">
                                    <div class="infoLeft">
                                        <img class="lazyload" data-src="{$lo.imgs?$lo.imgs:'__HOME__/images/infoItem.jpg'}" alt="">
                                    </div>

                                    <div class="infoRight">
                                        <div class="rightTop">
                                            <div class="itemTitle">{$lo.title}</div>
                                            <span class="itemTime">
                                                <img class="lazyload" data-src="__HOME__/images/shijian2x.png"
                                                    alt=""><span>{$lo.create_time}</span>
                                            </span>
                                        </div>
                                        <p>
                                            {$lo.description|mb_substr='0','45','utf-8'}
                                        </p>
                                    </div>

                                </div>
                            </a>
                            <ul class="tags">
                                {empty name='$lo.keywords'}
                                {else /}
                                {foreach name="$lo.keywords" item="key" key="k" }
                                <li>{$key}</li>
                                {/foreach}
                                {/empty}
                            </ul>
                        </li>
                        {/volist}
                        {/empty}

                    </ul>
                    <input type="hidden" id="sid" value="{$Think.get.keyword}">
                </div>

            </div>
        </div>
    </div>
    <!-- 分页 -->
    <div class="pageNation">
        <!--                <ul class="page">-->
        <!--                    <li class="prev">上一页</li>-->
        <!--                    <li class="currentPage">1</li>-->
        <!--                    <li>2</li>-->
        <!--                    <li class="next">下一页</li>-->
        <!--                </ul>-->
        
        {$list->render()}
    </div>


    <!-- 底部 -->
    {include file='common/footer' /}

    <!-- 侧边栏consultation资讯 -->
    <div class="consultation">
        <div>
          <div class="consultation-title" onclick="alert_open('惠优税新闻资讯','右导航')">咨询方案</div>
          <!-- <div class="consultation-item">
            <ul>
              <li><a href="/">惠优税</a></li>
              <li><a href="{:config('curl.hlg')}">惠灵工</a></li>
              <li><a href="{:config('curl.hdx')}">惠多薪</a></li>
              <li><a href="{:url('/home/searches/index')}">惠找事</a></li>
              <li><a href="{:config('curl.hcy')}">惠创业</a></li>
              <li><a href="{:config('curl.hqd')}">惠企动</a></li>
            </ul>
          </div> -->
        </div>
        <div>
          <div class="consultation-title2">联系我们</div>
            <div class="consultation-item2">
                <div>
                    <p>专家服务电话</p>
                    <p>181-8619-4461</p>
                </div>
                <div>
                    <p>获取税筹方案</p>
                    <p>400-150-9896</p>
                </div>
            </div>
        </div>
        <!-- 返回顶部  -->
        <div class='goTop' id="goTop">
          <div><img class="lazyload" data-src="__HOME__/images/top@2x.png" alt=""></div>
          <div>顶部</div>
        </div>
      </div>

    <!-- 弹框 -->
    <div class="pop-up-box" id="popbox">
        <div class="form">
            <div class="form-titile">
                <p>方案咨询</p>
                <span class="turnoff" onclick="hide_open()"></span>
            </div>
            <div class="form-content">
                <div><span class="title">您的姓名</span><input type="text" id="contactName" placeholder="请输您的姓名"></div>
                <div><span class="title">联系方式</span><input type="text" id="contactMobile" placeholder="请输入您的手机号"></div>
                <div><span class="title">公司名称</span><input type="text" id="companyName" placeholder="若无公司请填写自雇"></div>
                <input type='hidden' id='sources' value='惠优税'>
                <input type='hidden' id='identifications' value='企业税筹'>
                <div class="form-btn" onclick="form_btn()">获取方案</div>
            </div>
            <!-- 提交成果后弹窗 -->
            <div class="mask-box">
                <span></span>
                <p class="mask-box-title">提交成功</p>
                <p class="mask-box-content">我们会在一个工作日内联系您</p>
            </div>
        </div>

    </div>

    </div>
    <script>
        $(function () {
            $('.nav ul li').on('click', function () {
                $(this).addClass('nav-active chosenPage').siblings().removeClass('nav-active chosenPage')
            })
            $('.nav ul li').on('mouseenter', function () {
                $(this).addClass('nav-active').siblings().removeClass('nav-active')
            })
            $('.nav').on('mouseleave', function () {
                $('.nav ul li').removeClass('nav-active')
                if ($('.chosenPage').length < 1) $('.nav ul li').eq(4).addClass('chosenPage')
                $('.chosenPage').addClass('nav-active')
            })

        })
    </script>

</body>

</html>